@import '../../common/colors.scss';

.header {
    background-color: $secondary-color;
    height: 74px;
    padding: 0px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: $font-primary;
    font-size: 1.4rem;
    font-weight: 400;
}

.user-image, .user-image img {
    width: 38px;
    height: 38px;
}

.searchBar {
    
}